@font-face {
  font-family: otto;
  src: url(../fonts/Otto.ttf);
}

h1 {
  font-family: otto;
  font-size: 3em;
}

body {
  background-image: url('../images/tile6.gif');
}

.row {
  background-color: rgba(235, 225, 196, 0.6);
}

.header {
  background-image: url('../images/header_no_type.png');
  background-size: 100%;
}

.imglabel {
  text-align: center;
}

.header-text {
  font-family: otto;
  font-size: 6em;
  margin-left: 50px;
}

.subheader-text {
  font-family: otto;
  font-size: 2em;
  margin-left: 100px;
  margin-bottom: 10px;
  margin-top: -0.8em;
}

.titletext {
  color: #996633;
}

.centeredimg {
  margin: auto;
  display: block;
}

.ib {
  display: inline-block;
}

.fl {
  float: left;
}

.tile {
  border: solid 4px rgba(255,255,255,0);
}

.tile.selected {
  border: solid 4px rgba(0,0,255,1);
}

.tile.unselected {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.tile:hover {
  border: solid 4px rgba(255,0,0,1);
}

.tile.selected:hover {
  border: solid 4px rgba(0,0,255,1);
}

.tileLabel {
  font-size: 1.1em;
  color: gray;
}

.tileLabel.selected {
  color: black;
}

.tileSublabel {
}

.tileSublabel.selected {
  color: black;
}

.tac {
  text-align: center;
}

.summarylabel {
  font-weight: bold;
  text-align: right;
}

.removebtn {
  margin: 0px;
  float: right;
}

.clearbtn {
  float: right;
}

.cartTable {
  width: 100%;
}

.emptyCartText {
  text-align: center;
}

.cartColumn {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.cartColumn.column1 {
  width: 85%;
}

.cartColumn.column2 {
  width: 15%;
  text-align: center;
}

.cartTotal {
  float: right;
}