@font-face {
  font-family: otto;
  src: url(../fonts/Otto.ttf);
}

@font-face {
  font-family: imprint;
  src: url(../fonts/Imprint-MT-Shadow-Regular.ttf);
}

@font-face {
  font-family: garamond;
  src: url(../fonts/Garamond-Regular.ttf);
}

/*div    {
    border: 1px solid #000000;
}*/

body {
    font-family: garamond;
    background-image: url('../images/tile6.gif');
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

h2  {
    line-height: 0.2;
    font-weight: 400;
    font-size: 3vh;
}

h5  {
    line-height: 0.2;
    font-weight: 400;
    font-size: 3vh;
}
.wrapper    {
    background-color: rgba(235, 225, 196, 0.6);
    -webkit-align-items: center;
    height: 100%;
    width: 352px;
}

.header {
}

.necklaceHeader {
    min-height: 124px;
    background-image: url("../images/introNecklace.png");
    background-repeat: no-repeat;

}

.textHeader {
    min-height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/emptyLeaf.png");
    background-repeat: no-repeat;

}

.headerTextSpan  {
}

.action {
  /*background-image: url('../images/header_no_type.png');
  background-size: 960px;
  height: 125px;*/
  -webkit-align-items: center;
  align-items: center;
}

.cart {
  /*background-image: url('../images/header_no_type.png');
  background-size: 960px;
  height: 125px;*/
}

.row {
  /*background-color: rgba(235, 225, 196, 0.6);*/
}
