<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Joan Z Studio</a></h1>
      <li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="active"><a href="#">Custom Charms</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="#">Checkout</a></li>
      </ul>
    </section>
  </nav>
</div>

<div class="header row">
  <div class="small-12 columns">
    <h1>Joan Z Studio</h1>
    <h3>One of a kind and custom-made jewelry</h3>
  </div>
</div>
