<div data-bind="visible: !isCustomState()">
  <div class="stepheader">
      <h4>Select a Charm</h4>
      <h6>Create your own custom sterling silver charm necklace or bracelet.<br> Start by clicking the charm below."</h6>
  </div>
  <div data-bind="with: designCharmBtn">
    <div class="ib fl tac">
      <img class="tile big" data-bind="attr: { src: imgUrl }, click: clickCallback">
      <div class="imglabel">
        <label class="tileLabel" data-bind="text: type"></label>
      </div>
      <!--
      <label class="tileSublabel" data-bind="text: sublabel, css: { selected: selected() }"></label> -->
    </div>
  </div>
</div>
<div data-bind="with: heartCharmBtn">
  <div class="ib fl tac">
    <img class="tile big" data-bind="attr: { src: imgUrl }, click: clickCallback">
    <div class="imglabel">
      <label class="tileLabel" data-bind="text: type"></label>
    </div>
    <!--
    <label class="tileSublabel" data-bind="text: sublabel, css: { selected: selected() }"></label> -->
  </div>
</div>
