<div data-bind="visible: !isCustomState()">
  <h3 class="stepheader">Select a Charm</h3>
  <div data-bind="with: designCharmBtn">
    <div class="ib fl tac">
      <img class="tile" data-bind="attr: { src: imgUrl }, click: clickCallback">
      <div class="imglabel">
        <label class="tileLabel" data-bind="text: type"></label>
      </div>
      <!--
      <label class="tileSublabel" data-bind="text: sublabel, css: { selected: selected() }"></label> -->
    </div>
  </div>
</div>
<div data-bind="with: heartCharmBtn">
  <div class="ib fl tac">
    <img class="tile" data-bind="attr: { src: imgUrl }, click: clickCallback">
    <div class="imglabel">
      <label class="tileLabel" data-bind="text: type"></label>
    </div>
    <!--
    <label class="tileSublabel" data-bind="text: sublabel, css: { selected: selected() }"></label> -->
  </div>
</div>
