<h3 class="stepheader">Order Summary</h3>
<form>
  <table data-bind="with: selectedSummary">
    <tr>
      <td class="summarylabel">Charm Style</td>
      <td><span data-bind="text: charmStyle"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Lettering Style</td>
      <td><span data-bind="text: letteringStyle"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Charm Text</td>
      <td><span data-bind="text: engraving"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Border Style</td>
      <td><span data-bind="text: borderStyle"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Chain Type</td>
      <td><span data-bind="text: chainStyle"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Include Heart Charm</td>
      <td><span data-bind="text: includeHeart"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Price</td>
      <td><span data-bind="text: '$' + price"></span></td>
    </tr>
  </table>
  <p>Would you like to add another charm? If so, click "Add Another Charm" and you can start again at Step 1 for your next charm. When you're done click "Complete My Order" and review your purchase in the Shopping Cart.</p>
  <button class="radius" data-bind="click: addAnotherCharm">Add Another Charm</button>
  <button class="radius" data-bind="click: addToCart">Complete My Order</button>
</form>
