<h3 class="stepheader">Necklace Summary</h3>
<form>
  <table data-bind="with: selectedSummary">
    <tr>
      <td class="summarylabel">Charm Style</td>
      <td><span data-bind="text: charmStyle"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Charm Lettering</td>
      <td><span data-bind="text: letteringStyle"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Charm Text</td>
      <td><span data-bind="text: letteringStyle"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Border Style</td>
      <td><span data-bind="text: borderStyle"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Chain Type</td>
      <td><span data-bind="text: chainStyle"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Include Heart Charm</td>
      <td><span data-bind="text: includeHeart"></span></td>
    </tr>
    <tr>
      <td class="summarylabel">Price</td>
      <td><span data-bind="text: '$' + price"></span></td>
    </tr>
  </table>
  <button class="radius" data-bind="click: addToCart">Add to Cart</button>
</form>
